<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>PCSX2GameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.ps2</key>
		<dict>
			<key>OEGameCoreHasGlitches</key>
			<true/>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>1</string>
	<key>OEProjectURL</key>
	<string>https://pcsx2.net</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.ps2</string>
	</array>
</dict>
</plist>
